<div class="bg-main-light p-4 my-4">
  <h2 class="text-center mb-4">Shop Cart</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cartDetails?.cartItems" class="border-bottom">
        <td>{{ product.product.name }}</td>
        <td>
          <img [src]="product?.product.img" alt="{{ product?.product.name }}" />
        </td>
        <td>{{ product.price }}</td>
        <td>
          <button
            (click)="updateCart(product.product.id, product.quantity + 1)"
            class="btn btn-sm btn-outline-primary me-1"
          >
            +
          </button>
          <span>{{ product.quantity }}</span>
          <button
            (click)="updateCart(product.product.id, product.quantity - 1)"
            [disabled]="product.quantity === 0"
            class="btn btn-sm btn-outline-primary ms-1"
          >
            -
          </button>
        </td>
        <td>
          <button
            (click)="removeItem(product.product.id)"
            class="btn btn-sm btn-outline-danger"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td class="fw-bold">Total Price:</td>
        <td colspan="3" class="fw-bold text-success">
          {{ cartDetails?.totalPrice }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button (click)="emptyCart()" class="btn btn-danger mb-3">
      Empty Cart
    </button>
  </div>
</div>
