<!-- <div class="container mt-5">
    <h1 class="mb-3 alert alert-dark text-center">
      {{ productId == 0 ? "Add New Product" : "Edit Product" }}
    </h1>


    <form (submit)="productHandler($event)" [formGroup]="productForm" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Name</label>
        <input
          type="text"
          name="name"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter Product Name"
          formControlName="name"
        />
        <ng-container *ngIf="getProductName.touched">
          <div
            *ngIf="getProductName.hasError('required')"
            id="emailHelp"
            class="form-text text-danger"
          >
            Product Name is Required
          </div>
          <div
            *ngIf="getProductName.hasError('minlength')"
            id="emailHelp"
            class="form-text text-danger"
          >
            Product Name length must be > 3
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Description</label>
        <input
          type="text"
          name="description"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter Product Description"
          formControlName="description"
        />
        <ng-container *ngIf="getProductDescription.touched">
          <div
            *ngIf="getProductDescription.hasError('required')"
            id="emailHelp"
            class="form-text text-danger"
          >
            Product Name is Required
          </div>
        </ng-container>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword5" class="form-label">Price</label>
        <input
          name="price"
          type="number"
          class="form-control"
          id="exampleInputPassword5"
          placeholder="Enter Price"
          formControlName="price"
        />
        <ng-container *ngIf="getPrice.touched">
          <div
            *ngIf="getPrice.hasError('required')"
            id="emailHelp"
            class="form-text text-danger"
          >
            Price is Required
          </div>
        </ng-container>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword6" class="form-label">Quantity</label>
        <input
          name="quantityAvailable"
          type="number"
          class="form-control"
          id="exampleInputPassword6"
          placeholder="Enter Quantity"
          formControlName="quantityAvailable"
        />
        <ng-container *ngIf="getQuantity.touched">
          <div
            *ngIf="getQuantity.hasError('required')"
            id="emailHelp"
            class="form-text text-danger"
          >
            Quantity is Required
          </div>
        </ng-container>
      </div> -->
<!-- ************************************************************************ -->

<!-- <div class="mb-3">
        <label for="exampleInputPassword6" class="form-label">Category</label>
        <input
          name="catId"
          type="number"
          class="form-control"
          id="exampleInputPassword6"
          placeholder="Enter Quantity"
          formControlName="catId"
        />
        <ng-container *ngIf="getCatId.touched">
          <div
            *ngIf="getCatId.hasError('required')"
            id="emailHelp"
            class="form-text text-danger"
          >
            Category is Required
          </div>
        </ng-container>
      </div> -->
<!-- ************************************************************************ ^ ^^^^^   -->

<!-- <div class="mb-3">
        <label for="exampleInputPassword6" class="form-label">Category</label>
        <select class="form-control" name="CatId" id="exampleInputPassword7" placeholder="Enter Category" formControlName="CatId">
          <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
        </select>
      </div>


  <div>
    <label for="img">Upload Image:</label>
    <input type="file" id="img" formControlName="img"  (change)="uploadImage($event)"/>
    <div *ngIf="getimg.invalid && (getimg.dirty || getimg.touched)">
      <div *ngIf="getimg.hasError('required')">Image is required</div>
    </div>
  </div>  -->
<!-- ************************************************************************ -->
<!-- <p>{{ productForm.value | json }}</p> -->
<!-- ************************************************************************ ^^^^^^^  -->
<!--
      <button type="submit" class="btn btn-outline-primary">
        {{ productId == 0 ? "Add New Product" : "Edit Product" }}
      </button>

      <button (click)="backToProducts()" class="btn btn-outline-success ms-2">
        Back To Products
      </button>
    </form>
  </div> -->
<!-- ================================================================================================== -->

<!-- <div class="container mt-5">
  <h1 class="mb-3 alert alert-dark text-center">
    {{ productId == 0 ? "Add New Product" : "Edit Product" }}
  </h1>

  <form
    (submit)="productHandler($event)"
    [formGroup]="productForm"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="productName" class="form-label">Product Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="productName"
        placeholder="Enter Product Name"
        formControlName="name"
      />
      <div *ngIf="getProductName.touched">
        <div
          *ngIf="getProductName.hasError('required')"
          class="invalid-feedback"
        >
          Product Name is Required
        </div>
        <div
          *ngIf="getProductName.hasError('minlength')"
          class="invalid-feedback"
        >
          Product Name length must be > 3
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="productDescription" class="form-label"
        >Product Description</label
      >
      <input
        type="text"
        name="description"
        class="form-control"
        id="productDescription"
        placeholder="Enter Product Description"
        formControlName="description"
      />
      <div *ngIf="getProductDescription.touched">
        <div
          *ngIf="getProductDescription.hasError('required')"
          class="invalid-feedback"
        >
          Product Description is Required
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        name="price"
        type="number"
        class="form-control"
        id="price"
        placeholder="Enter Price"
        formControlName="price"
      />
      <div *ngIf="getPrice.touched">
        <div *ngIf="getPrice.hasError('required')" class="invalid-feedback">
          Price is Required
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="quantity" class="form-label">Quantity</label>
      <input
        name="quantityAvailable"
        type="number"
        class="form-control"
        id="quantity"
        placeholder="Enter Quantity"
        formControlName="quantityAvailable"
      />
      <div *ngIf="getQuantity.touched">
        <div *ngIf="getQuantity.hasError('required')" class="invalid-feedback">
          Quantity is Required
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select
        class="form-control"
        name="CatId"
        id="category"
        formControlName="CatId"
      >
        <option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.name }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="img" class="form-label">Upload Image:</label>
      <input
        type="file"
        id="img"
        formControlName="img"
        (change)="uploadImage($event)"
      />
      <div
        *ngIf="getimg.invalid && (getimg.dirty || getimg.touched)"
        class="invalid-feedback"
      >
        <div *ngIf="getimg.hasError('required')">Image is required</div>
      </div>
    </div>

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">
        {{ productId == 0 ? "Add New Product" : "Edit Product" }}
      </button>
      <button (click)="backToProducts()" class="btn btn-success mt-2">
        Back To Products
      </button>
    </div>
  </form>
</div> -->

<!-- ============================================================================================= -->

<div class="container mt-5">
  <div class="bg-primary rounded p-1">
    <h1 class="mb-4 text-center">
      {{ productId == 0 ? "Add New Product" : "Edit Product" }}
    </h1>
  </div>
  <form
    (submit)="productHandler($event)"
    [formGroup]="productForm"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="productName" class="form-label">Product Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="productName"
        placeholder="Enter Product Name"
        formControlName="name"
      />
      <div
        *ngIf="getProductName.touched && getProductName.invalid"
        class="text-danger"
      >
        <div *ngIf="getProductName.hasError('required')">
          Product Name is required
        </div>
        <div *ngIf="getProductName.hasError('minlength')">
          Product Name should be at least 3 characters
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="productDescription" class="form-label"
        >Product Description</label
      >
      <textarea
        name="description"
        class="form-control"
        id="productDescription"
        placeholder="Enter Product Description"
        formControlName="description"
        rows="3"
      ></textarea>
      <div
        *ngIf="getProductDescription.touched && getProductDescription.invalid"
        class="text-danger"
      >
        Product Description is required
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="price" class="form-label">Price</label>
        <input
          name="price"
          type="number"
          class="form-control"
          id="price"
          placeholder="Enter Price"
          formControlName="price"
        />
        <div *ngIf="getPrice.touched && getPrice.invalid" class="text-danger">
          Price is required
        </div>
      </div>
      <div class="col">
        <label for="quantity" class="form-label">Quantity</label>
        <input
          name="quantityAvailable"
          type="number"
          class="form-control"
          id="quantity"
          placeholder="Enter Quantity"
          formControlName="quantityAvailable"
        />
        <div
          *ngIf="getQuantity.touched && getQuantity.invalid"
          class="text-danger"
        >
          Quantity is required
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select
        class="form-select"
        name="CatId"
        id="category"
        formControlName="CatId"
      >
        <option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.name }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="img" class="form-label">Upload Image:</label>
      <input
        type="file"
        id="img"
        formControlName="img"
        (change)="uploadImage($event)"
        class="form-control"
      />
      <div
        *ngIf="getimg.invalid && (getimg.dirty || getimg.touched)"
        class="text-danger"
      >
        Image is required
      </div>
    </div>

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">
        {{ productId == 0 ? "Add New Product" : "Edit Product" }}
      </button>
      <button (click)="backToProducts()" class="btn btn-success mt-2">
        Back To Products
      </button>
    </div>
  </form>
</div>
